[2012-07-09 16:00] dehlen opened #1 "Non ARC Version ?"
How can i use it in my non-arc project ?
Please provide a non-arc version. Thanks.

[2012-07-09 17:29] #1 closed, assigned to shpakovski

[2012-08-09 01:34] jgallen23 opened #2 "Support for F keys by themselves"
I tried the demo, but it appears that the f keys can't be set without a modifier, is this something that can be fixed or is this a limitation of osx?

[2012-08-12 20:31] thermogl opened #3 "MASShortcutView doesn't show modifier keys on press"
If you only press modifier keys, like cmd, option and ctrl, the view doesn't display their characters (see the behaviour of the official Twitter app's shortcut recorder). It only displays them when you finalise the shortcut.

The fix is to change line 301 in MASShortcutView.m to include NSFlagsChangedMask:

[code]

[2012-08-12 21:41] #2 closed, assigned to shpakovski

[2012-08-12 21:41] #3 closed, assigned to shpakovski

[2012-08-25 16:22] mattgemmell opened #4 "MASShortcutView doesn't allow Function keys?"
Perhaps I'm mistaken, but MASShortcutView doesn't seem to allow the user to type Function keys (like F6 etc) into it. Something I've done wrong? :)

[2012-08-25 20:53] #4 closed, assigned to shpakovski

[2012-09-08 09:55] kmikael opened #5 "Setting `associatedUserDefaultsKey` twice"
I had some strange behavior  with `MASShortcut` today. I was setting the `shortcutView`'s `associatedUserDefaultsKey` in the view controller's `viewWillAppear:` method (I'm also using `MASPreferences`) and **every other time** the view appeared the `shortcutView`'s `shortcutValue` was `nil` even though `enabled` was `YES` and the `shortcutView`'s `associatedUserDefaultsKey` was set correctly.

I f

[2012-09-13 03:23] skyfex opened #6 "Requires ARC/GC ?"
I tried to add MASShortcut to my project, but I got the following error:

So I tried to enable automatic reference counting in my project, but that didn't work, as my whole codebase is based on manual memory management.

I tried to just remove the weak property in

MASShortcutView+UserDefaults.m:
...
@property (nonatomic, readonly, weak) MASShortcutView *shortcutView;

But that caused a bunch of o

[2012-09-14 06:33] #6 closed, assigned to shpakovski

[2012-09-18 21:58] #5 closed, assigned to shpakovski

[2012-09-19 18:43] sebj opened #7 "MASShortcut & MASPreferences"
Loving MASShortcut, but I seem to be struggling to use it and MASPreferences together. Is there any chance of a demo project that also uses MASPreferences somewhere? Thanks.

[2012-09-19 20:54] #7 closed, assigned to nobody

[2012-12-13 12:38] heardrwt opened #12 "The Non-ARC version linked from README.md would appear to be sub par."
For instance, it has a bunch of leaks, fails to call [super dealloc] from its dealloc methods and returns non auto-released objects from class methods that don't contain the words init / new.

I just pushed a much better example with Non-ARC / 32bit fixes to https://github.com/heardrwt/MASShortcut.

If people are looking for non-arc code, its likely they need it for 32bit support, so i also made s

[2012-12-13 13:46] #12 closed, assigned to nobody

[2012-12-25 21:42] rboisjoly opened #13 "Not unregistering previous key when deleting"
Hi! This may be an issue for others, and I'm wondering if there would be some enhancement which would avoid the issue eventually..

I use this tool a bit differently, registering many keys using the Monitor directly, not UserDefautls. I add the global monitor, using
[MASShortcut addGlobalHotkeyMonitorWithShortcut:self.shortcutView.shortcutValue

But when I try to delete the existing one (by hittin

[2012-12-27 08:02] #13 closed, assigned to nobody

[2013-01-17 23:35] synapse opened #14 "After launching an external method stops working"
Hi! I found a problem after restarting my application and pressing the hotkeys i set in the preferences window.

I'm registering the shortcuts in the applicationDidFinishedLaunching method. Something like this:
    [MASShortcut registerGlobalShortcutWithUserDefaultsKey:@"hotkeyShortcut" handler:^{
        NSLog(@"Run the method");
        [[SomeObject sharedInstance] action];
        NSLog(@"Run o

[2013-02-06 22:19] DenVog opened #17 "Function Modifier Key Recorded but Not Displayed in ShortcutView"
If record a shortcut utilizing the function key, the fn modifier key does not display in the MASShortcutView.
EXAMPLE
1. Click Record Shortcut.
2. Press Function-F6.
MASShortcutView displays "F6". I would think it should display "fn-F6", or "Function-F6". This would be consistent with how Apple identifies their use, and would distinguish from their unmodified use (e.g. F6 not modified by the fn ke

[2013-02-06 23:09] DenVog opened #18 "Setting Initial Default"
What is the preferred way to set an initial user default for the hotkey combination? So first time app launched, the shortcut would be pre-defined without the user needing to record it themselves. They could change it later if they wanted.

I took a look at the demo project. I see it registering and unregistering, but that doesn't seem right way of setting the default.

P.S. This is obviously a qu

[2013-02-07 08:46] #17 closed, assigned to nobody

[2013-02-07 17:06] #18 closed, assigned to nobody

[2013-04-02 04:35] holgersindbaek opened #21 "Creating a shortcut works sporadically"
The first time I click the shortcutview and create the shortcut, it works, but if I click it again, then sometimes it doesn't work. I can click the option+shift and it shows, but when I click the last button (let's say "R"), then nothing happens. When I lift up the keys again, the shortcut view goes blank and I can try again and again, but with no result.

Has anybody else tried this? Any solution

[2013-04-02 16:48] holgersindbaek opened #22 "(Feature Request) Customizing look"
Love this library, but I've been finding myself messing around with the drawRect method in the view class, so I could put another background on the view.

Would love if a more generic way of customizing the look and feel of the "button" could be made. Would that be difficult?

[2013-04-02 21:53] #22 closed, assigned to nobody

[2013-04-02 23:22] #21 closed, assigned to nobody

[2013-04-09 07:57] iluuu1994 opened #23 "Observation Leak"
Everytime my view with the `MASShortcutView`'s deallocates, I get an observation warning:

[code]

Apparently, this line is caused by the observer in `MASShortcutView+UserDefaults.m` on line 86. I see that the observer is removed on line 103, and it get's executed. But the problem persists.

[2013-04-09 19:36] #23 closed, assigned to nobody

[2013-04-15 20:35] #14 closed, assigned to nobody

[2013-05-21 02:33] joshsymonds opened #26 "Disable hotkey during hotkey assignment"
If a user assigns a hotkey and then presses that hotkey during assignment, it actually fires the event the hotkey is bound to. I think a more reasonable expectation for this would be that the hotkey is temporarily unbound during assignment. Any good suggestions on how to make that happen?

[2013-10-19 18:20] keith opened #28 "Appearance synthesize on 10.9"
I built my app on Mavericks and got a few build errors in MASShortcut.
![screen shot 2013-10-19 at 2 19 20 pm](https://f.cloud.github.com/assets/283886/1366870/fce2a202-38ea-11e3-9a18-97d2d9dbc04d.png)

I fixed this by adding:

[code]

[here](https://github.com/shpakovski/MASShortcut/blob/master/MASShortcutView.m#L33). I'm not sure if this is just some of the build settings I have so I didn't want

[2013-10-19 20:42] #28 closed, assigned to nobody

[2013-10-19 20:48] #26 closed, assigned to nobody

[2014-01-13 09:29] iluuu1994 opened #30 "Permission to use"
Hi Vadim,

I'm building my own shortcut reader control, and I was looking for some inspiration on how to convert a `keyCode` or `modifierFlags` to a `NSString`.
You've done it perfectly, and I would be great if I could use it in my own repository.

Do I have your permission to do so?

[2014-01-13 13:07] #30 closed, assigned to nobody

[2014-03-02 21:06] sdsykes opened #31 "Hotkeys change when keyboard layout changes"
Here is the issue, well explained: http://discuss.binaryage.com/t/changing-keyboard-layouts-changes-hotkey-value/1500

I figure this is impossible to fix at the moment as actual keycodes are stored. If some kind of string was stored (eg as returned by keyCodeString) then perhaps that could be converted back to a keycode when needed?

[2014-03-03 09:14] #31 closed, assigned to nobody

[2014-04-05 01:50] chendo opened #33 "Shortcut conflict checker does not check if shortcut is enabled or not"
When MASShortcut checks existing shortcuts for conflicts, it does not take in account whether or not the existing shortcut is enabled or not.

Use case: `Cmd+Option+Space` is taken by the system for "Select next source in input", but is disabled by default. However, trying to assign to this with MASShortcut will cause it to error. Is this because it's not possible to register a shortcut when one e

[2014-04-29 21:37] synapse opened #34 "Preference not saving on 10.9"
Hello, I noticed that on 10.9 the preference is not saved. Actually the .plist file is not created.
In one of my other sandboxed project I managed to create the prefs .plist file by calling the [NSUserDefaults resetStandardUserDefaults]; before setting the pref object and syncing.

Any ideas how to fix this?
Thanks in advance

Cris.

[2014-04-30 13:30] #34 closed, assigned to nobody

[2014-06-22 14:29] eicca opened #36 "xcode 6.2 compiling issues."
Hello.

I'm using xcode beta and I'm trying to use MASShortcut within a swift project.

After importing MASShortcut in bridging header file I'm getting the following error during compilation:

[code]

And this is a `MASShortcut.h:49`:

[code]

Maybe NSEvent is not in the carbon anymore?

I solved the issue by adding `#import <Cocoa/Cocoa.h>` on top of the `MASShortcut.h`, but I'm unsure if it's a

[2014-06-24 06:00] #33 closed, assigned to nobody

[2014-06-25 10:34] #36 closed, assigned to nobody

[2014-07-15 20:16] pencil opened #37 "Shortcut handler fired when "changing" shortcut to it's current value"
## Steps to Reproduce
1. Click the `MASShortcutView` to record a new shortcut.
2. Type _Cmd+F10_
3. Click the `MASShortcutView` to change the shortcut.
4. Type _Cmd+F10_
## Expected Behaviour

Shortcut handler does not fire since the user is actually recording the shortcut.
## Actual Behaviour

Shortcut handler is fired.
## Video

![changing_shortcut](https://cloud.githubusercontent.com/assets/812

[2014-07-25 15:38] #37 closed, assigned to nobody

[2014-09-15 10:57] radex opened #44 "Doesn't work with Xcode 6.1 Beta 2"
It looks like `MASShortcutView` doesn't work when compiled on Xcode 6.1 Beta 2. It works perfectly fine on 6.0 Beta 7, but after opening the project in new Xcode — the view doesn't render on screen.

I did some digging and it looks like the rendering method is reached, but `[NSCell drawWithFrame:inView:]` simply doesn't do the right thing.

Unfortunately I don't have enough knowledge about cells o

[2014-09-17 16:00] #44 closed, assigned to nobody

[2014-09-24 08:00] RicoKS opened #46 "Hotkey handler not firing right away when a menu of the handling app is open"
I noticed that the hotkey handler does not fire right away when a menu (popup or menu bar) of the app that installed the hotkey is open. Only when the menu is closed does the hotkey fire.

To reproduce:
- Open an app that uses a shortcut
- Click on the "File" menu in the menu bar (or any other menu)

→ Important: it has to be the menu of the app handling the hotkey
- With the menu open, press the

[2014-10-01 13:16] gcox opened #47 "Add Accessibility Support"
Unfortunately, this control seems to be unusable by voice over users.  I'd love to drop ShortcutRecorder (https://github.com/Kentzo/ShortcutRecorder) and switch to MASShortcut but it isn't an option without accessibility support.

[2014-10-21 09:44] nicroto opened #49 "An easy way to get a string of a shortcut object?"
First of all, thanks for the awesome lib. I am using it in my app, [Pagehop](https://pagehopapp.com).

I would like to show a shortcut, somewhere else in the UI (in a menu item's text).

Is there a method I should be using to convert the shortcut object saved in the user defaults to a (human-readable) string?

Thanks.

Regards,
Nikolay Tsenkov

[2014-10-21 11:01] #49 closed, assigned to nobody

[2014-11-02 06:29] torinkwok opened #50 "Maybe found a potential memory leak of the elements in globalHotKeys"
When I hit the hot keys composed of  `⌃⌘Space` (a system-wide shortcut), `isTakenError:` method will early return (excute [return YES;](https://github.com/shpakovski/MASShortcut/blob/master/MASShortcut.m#L344) )
![ return YES ](http://i.imgbox.com/MecTz43N.png)

BUT on return, globalHotKeys still not be released, we have not an opportunity to release the globalHotKeys:
![ globalHotKeys still not b

[2014-11-03 12:47] #50 closed, assigned to nobody

[2015-01-08 16:17] zoul opened #54 "Release 2.0.0"
To be done:

* [x] Simplify the demo project to the basic use case
* [x] Add CocoaPods installation instructions
* [x] Add CocoaPods installation instructions for staying on the 1.x branch
* [x] Test CocoaPods installation
* [x] Add a documentation notice for people who would like to migrate from Shortcut Recorder

[2015-01-08 16:21] shpakovski commented on #54
Mate, I'm sorry but we cannot simplify the Demo :) It was built on purpose as result of many feature requests, so we really need enable-disable functionality as well as hard-coded shortcut. Please restore, thanks in advance.

[2015-01-08 16:23] zoul commented on #54
Allright, sorry! :–) I’ll bring back a nicer demo showing more features.

[2015-01-09 10:40] zoul commented on #54
Just pushed 2.0.1 (silly version bump because of Podspec fixes) to CocoaPods.

[2015-01-09 10:40] #54 closed

[2015-01-09 10:45] zoul opened #55 "Fix documentation markup for CocoaDocs"
Looking at the nice documentation generated over at [CocoaDocs](http://cocoadocs.org/docsets/MASShortcut/2.0.1/), the documentation markup used in our source code doesn’t work correctly. There are several ways to mark up the documentation – the current one works in Xcode, but apparently not on CocoaDocs. We should take a look at some other library to see what works for them.

[2015-01-09 13:27] shpakovski commented on #55
Something like this works on CocoaPods:

[code]

[2015-01-12 15:30] zoul opened #56 "Register shortcuts in non-exclusive mode"
During my work on the support for older OS X versions I stumbled upon a bug where a shortcut would refuse to register saying it’s already registered. This lead me to the `kEventHotKeyExclusive` option used for registering the Carbon hot keys.

In the exclusive mode the `RegisterEventHotKey` call will refuse to register a hotkey that already exists. We have to handle that case somehow, currently we

[2015-01-12 22:50] shpakovski commented on #56
I agree, I would expect that both shortcuts do work rather than have an alert without clear meaning and the hint which app uses the hockey already.

[2015-01-13 20:44] aral commented on #47
I love the MASShortcut API but, without accessibility support, I’m going to have to use ShortcutRecorder also. What’s the latest on this? Starkos, have you made any progress? Is there a list of issues outstanding that need to be fixed to enable accessibility support? :)

[2015-01-13 20:49] zoul commented on #47
Could somebody who needs the accessibility features create a list of requirements?

[2015-01-13 21:00] starkos commented on #47
Yes, I've made progress. I've got a small snag I'm trying to workaround, see http://stackoverflow.com/questions/27925611 <http://stackoverflow.com/questions/27925611>

I will try to commit and push a branch that people can try either later tonight or tomorrow. Some feedback on it would be good.

[2015-01-13 21:23] aral commented on #47
That's so cool, thank you. Can’t wait to check it out and will take a look at the issue also :)

Aral

[2015-01-14 17:30] starkos commented on #47
Okay, here's the work-in-progress branch: https://github.com/starkos/MASShortcut/tree/issue-47-accessibility

You'll need to be on 10.10 for this version, as I've only implemented the new NSAccessibility API so far. Once things are basically working, I'll wrap them with the legacy calls for older systems.

I worked around the issue I mentioned (see above) by removing the shortcut description from

[2015-01-16 10:38] #56 closed

[2015-01-16 11:26] zoul commented on #55
Nope, the new version still doesn’t work as expected, all the markup is ignored. Will try with `appledoc` to see if I can find the reason.

[2015-01-16 12:12] zoul commented on #55
Yes, now it [finally works](http://cocoadocs.org/docsets/MASShortcut/2.1.1/).

[2015-01-16 12:12] #55 closed

[2015-01-16 20:48] aral commented on #47
Thank you so much — sorry for the delay in responding; been working on different areas. Will play with this this weekend :) Really appreciate it.

[2015-01-19 14:16] gcox commented on #47
@starkos Should probably override [NSView acceptsFirstResponder:] to return YES so this control can be tabbed to. Perhaps there's more to it than that but my point is that you can't tab to it currently:)

[2015-01-21 12:37] starkos commented on #47
I've enabled first responder on the control—does that help? I'm currently trying to figure out why it doesn't work when placed into an NSTableView.

[2015-01-27 18:47] stel opened #60 "KeyCode string for KeyEquivalent depends of the current keyboard layout"
When switching to non US (non-ASCII capable) keyboard layout `-keyCodeStringForKeyEquivalent` returns string with non-ASCII character, if a printable character was used in shortcut. But this character couldn't be used for `keyEquivalent` of the `NSMenuItem`.

I suppose it is better to use `TISCopyCurrentASCIICapableKeyboardLayoutInputSource` instead of `TISCopyCurrentKeyboardLayoutInputSource` in

[2015-01-28 08:35] zoul commented on #60
This is an interesting challenge. As I understand the issue, the core problem is this: On different keyboard layouts (such as US and Czech), a single shortcut (a combination of physical keys) can have different “names”.

For example, the default system shortcut for toggling directly to space no. 2 is Control–2. But when you switch to the Czech keyboard layout, the physical key with the `2` label n

[2015-01-28 12:44] stel commented on #60
Can't reproduce the behaviour you describe. In my case even if I change the system language (and keyboard layout too of course) to Czech I have US letters in shortcuts (the only exception is a space character – " " – byt it is localized by the system)
![screen shot 2015-01-28 at 15 23 31](https://cloud.githubusercontent.com/assets/429275/5937649/fba25950-a702-11e4-9d53-9c5b475fb7d2.png)
So in my c

[2015-01-28 13:06] zoul commented on #60
You have to watch a keyboard shortcut with a key that’s different on the two keyboard layouts. Here’s is an animated screenshot – one frame with the US keyboard layout, the other one with the CS layout:

![animated screenshot of the changing system shortcuts](https://cloud.githubusercontent.com/assets/95329/5937981/96d2fb4e-a6f6-11e4-8c29-a4cfe1afabf9.gif)

All that’s needed is to switch to the pr

[2015-01-28 13:29] stel commented on #60
Interesting.. got it with 1,2 etc, but what about A-Z?

Nevertheless `TISCopyCurrentASCIICapableKeyboardLayoutInputSource` gives + (works in menu item) and ě (doesn't) for 1 and 2 (try my pull request).

In my case the main problem is A-Z characters with different layout, in Russian layout for example `^U` becomes `^Г` with `TISCopyCurrentKeyboardLayoutInputSource` but not with `TISCopyCurrentASCI

[2015-01-28 13:46] zoul commented on #60
Current summary:

1) Shortcut recording and watching works correctly, even for problematic shortcuts such as `^Ř`. This seems to be purely a presentation problem.

2) The value returned by `keyCodeString` and `keyCodeStringForKeyEquivalent` depends on the current keyboard layout. This is probably the desired behaviour (even system does it like that), but it’s a nasty surprise in the API. The least

[2015-01-28 13:49] zoul commented on #60
I’ve just read your last comment, @stel. Thank you, that’s a clear argument in favour of the “ASCII-capable” API call.

[2015-01-28 14:02] stel commented on #60
Thanks :+1:

[2015-01-28 14:45] zoul opened #62 "Shortcut validation doesn’t consider different keyboard layouts"
Test case: Using the US keyboard layout, assign the `^2` shortcut to a menu item and switch to the Czech keyboard layout. Now trying to record a `^ě` shortcut will pass the validation, although the shortcuts have the same key code and modifiers and are in conflict. See #60 for previous discussion. No idea if we can handle this better, but at least we could describe the failing case in the spec and

[2015-01-28 15:04] zoul opened #63 "Introduce a separate class for formatting shortcuts"
Formatting a shortcut (ie. producing a string description of its modifiers or keys) should be refactored into a standalone clas. This will give use options (`⌘^` or `Command-Control`, uppercase or lowercase, ASCII or Unicode) and is simply the right thing to do. Since formatting depends on the active keyboard layout (see the spec), it would be great to turn this into an explicit setting. That way

[2015-01-28 15:06] zoul commented on #60
I have created standalone issues #62 and #63 for the related problems, will close this.

[2015-01-28 15:06] #60 closed

[2015-02-01 07:18] zoul commented on #63
The `TISCopyInputSourceForLanguage` function looks interesting. We could wrap `TISInputSourceRef` into a `MASInputSource` class and create initializers like `+inputSourceForLanguage:` and `+currentInputSource`. The future `MASShortcutFormatter` class would then take an input source (`MASInputSource*`) as an argument, defaulting to `+currentInputSource`.

[2015-02-11 00:28] pedrovieira7 opened #64 "MASShortcutBinder "this class is not key value coding-compliant for the key ...""
I've recently switched from MASShortcut 1.0 to 2.0 and now I've been experiencing this bug:

Here's the code I'm currently using (which worked before I updated from `MASShortcut registerGlobalShortcutWithUserDefaultsKey:handler:` to `MASShortcutBinder bindShortcutWithDefaultsKey: toAction:`):
[code]
When debugging, my program completely crashes at this point giving the following error message on t

[2015-02-13 03:52] pedrovieira7 commented on #64
Apparently the issue had to do with the defaults key string which had a "." on it, like: " Shortcut Open Last.fm". Removing the dot from the string made it work without any problems.
Although I managed to fix my error, this should be fixable because the 1.x version of MASShortcut didn't have this kind of issue.

[2015-03-05 10:13] zoul commented on #64
I think I have fixed the issue. Can you please test with the latest version?

[2015-03-05 10:18] zoul commented on #64
Hm, not really, the current test case is passing because it’s broken. Let me take another look.

[2015-03-05 11:29] zoul commented on #64
The problem is that dots in user defaults keys are apparently not 100 % supported by Cocoa.

I have written a test project that binds a user defaults key to a text field. With a plain user defaults key such as `foo` everything works as expected – the defaults value is propagated to the text field, both initially and when I change the defaults using `[[NSUserDefaults standardUserDefaults] setObject

[2015-03-05 11:29] #64 closed

[2015-04-02 16:43] jhoughjr opened #68 "NSShiftKeyMask et al. do not appear to be working"
I am using base SDK 10.10 with a deployment target of 10.9.
There were around 9 build errors with 2.1.2 using cocoa pods.
The errors were from the NSShiftKeyMask et al. not being defined even though Carbon.h was
imported at the top of the file. A search of Carbon.h revealed they were not there.
A Google search revealed they are defined in AppKit/NSEvent.h

My fix was to add #import AppKit/NSEvent.

[2015-04-02 18:37] zoul commented on #68
Are you sure it’s not just your build environment? The Travis build [appears to work just fine](https://travis-ci.org/shpakovski/MASShortcut).

[2015-04-03 01:01] jhoughjr commented on #68
It used to build fine until i did a pod update. But I don’t know what Travis CIs build environment is compared to a standard Xcode with cocoa pods installation.

[2015-04-03 07:33] zoul commented on #68
I’ll take a look at it the next week :+1:

[2015-04-03 15:54] jhoughjr commented on #68
Thanks! The last time i updated via cocoa pods was a month or two ago, and the only things that changed as updating the pod, and I think a couple versions of Cocoapods have been released since then.

But when I searched Cabon.h for NSShiftKeyMask for instance I didn’t find it.
Hopefully that info is useful.

[2015-04-03 16:26] jhoughjr commented on #68
I was able to get it to build in debug mode by importing AppKit in MASKeycodes.h

#import <Carbon/Carbon.h>
#import <AppKit/AppKit.h>

// These glyphs are missed in Carbon.h
enum {
Without that, NSShiftKeyMask et al aren’t found, and it complains about NSView being a forward declaration, 11 errors in total.
That is from a fresh install of the pod after deleting ./Pods the .xcworkspace and the Podf

[2015-04-07 14:41] zoul commented on #68
Just tested with latest Cocoapods (0.36.3) and the sample project built fine. Can you reproduce the problem with a clean project? I created a new Xcode project, ran `pod init`, added MASShortcut to podfile, ran `pod install`, opened the workspace in Xcode and built fine.

[2015-04-07 14:45] jhoughjr commented on #68
I can try later today.
 It originally worked for months. Then I reloaded my machine and reckoned the repo, and updated pods. As my above comment states, those imports fixed it, though I'm not sure what issue in the build environment they would be fixing, only that they fixed the proximal build errors.

[2015-08-06 05:51] noraesae opened #70 "Stop working after registering the same input after cancellation"
First of all, thanks for this great job. It really saves a whole lot of my time.

I found a bug that a shortcut stops working after registering the same shortcut as before after cancelling it. This occurs in the demo app too.

#### Steps to Reproduce

* Register a shortcut, let me say it's `cmd+j`.
* Cancel the shortcut
* Register the same shortcut, `cmd+j`.
* And then the shortcut stops working.

[2015-08-06 06:05] noraesae commented on #70
Just found a workaround like below, but not quite sure if it's rightly done.

[code]

[2015-08-06 15:52] shpakovski commented on #70
@zoul Hey Tom, I'm calling for help 😆

[2015-08-06 18:25] zoul commented on #70
I’m currently offline, will take a look at the issue on Sunday or next week. Since the bug is reproducible, it should be easy to fix.

[2015-08-09 18:35] Stillness-2 commented on #70
I think this #71

[2015-08-09 23:45] shpakovski commented on #70
@noraesae Could you please verify the fix? Thanks in advance.

[2015-08-09 23:45] #70 closed

[2015-08-11 15:54] noraesae commented on #70
I've tested the patch and it works like a charm. Thanks!

[2015-08-11 17:37] shpakovski commented on #70
Thank you all guys!

[2015-08-17 20:05] hildjj opened #72 "MASShortcutGlyph needs a `typedef`"
Suggested:

[code]

This allows the header file to be included in multiple different places without causing `duplicate symbol _MASShortcutGlyph`.

[2015-08-18 08:53] zoul commented on #72
AFAIK this is already fixed in the current master, see dcb1342. Will release a new version today. Thanks!

[2015-08-18 08:53] #72 closed

[2015-08-18 15:16] zoul commented on #72
This should be now fixed in 2.2.0. If not, please reopen.

[2015-09-05 18:39] alexpersian opened #73 "Possibility to receive an event on keyUp?"
I'm trying to build a utility using this library that will respond to a shortcut being pressed, but also handle when that shortcut is released.

The events themselves are given out through NSEvents as keyDown and keyUp, but attaching MASShortcut to a hotkey prevents the default NSEvents from firing.

Is it possible to gather the keyUp event from within MASShortcut?

[2015-09-07 06:31] zoul commented on #73
We use the Carbon hotkeys API to detect the shortcut presses, see `RegisterEventHotKey` and friends. Take a look at the API, maybe you could do something there. If not, maybe you can use event taps to detect the shortcuts yourself? (See `CGEventTapCreate`.) Writing a simple shortcut detecting event tap is not hard and you could still use all other MASShortcut components such as recording and stora

[2015-10-01 20:53] beaufour opened #74 "Only seeing XXX in UI for MASShortcutView"
I am using MASShortcut v2.3.1 via CocoaPods. When I insert a `MASShortcutView` into my UI it works fine, but all text is shown as `XXX` in the UI. I suspect that `Localizable.strings` is not part of the pod?

I can fix it by manually copying the strings from the `MASShortcut` source into `Localizable.strings` in my own project, but hopefully that shouldn't be necessary :smile:

Great library btw!

[2015-10-05 14:13] shpakovski commented on #74
Indeed, this is a problem, thank you very much for the report! @zoul Will it help if we rename the `Localizable.strings` and use a custom table name?

[2015-10-05 14:31] zoul commented on #74
I currently use the localized MASShortcut in a production app and it works correctly, but I use Carthage, not CocoaPods. So I think the problem is in our CocoaPods manifest, probably our `Localized.strings` file is not installed at all. I’ll take a look at it, just don’t know when yet.

[2015-10-05 15:02] shpakovski commented on #74
I think this will not work, because `MASShortcut`s version would just rewrite the local project `Localizable.strings` file, there is no “merge policy” for Pods.

[2015-10-05 15:06] zoul commented on #74
Oh, I see – this is why I find Carthage better, it just sticks to the framework that’s already defined. Judging by [this blog post](http://yannickloriot.com/2014/02/cocoapods-and-the-localized-string-files/) and [this Stack Overflow thread](http://stackoverflow.com/questions/12874678/localization-and-cocoapods), it looks like we need to create a resource bundle to stick the strings file into?

[2015-10-05 15:15] shpakovski commented on #74
Yeah… This is not very convenient for such a small number of strings :) Any better idea? @beaufour?

[2015-10-05 15:17] beaufour commented on #74
I really wish I knew more about the inner workings of CocoaPods, but alas I don't.

[2015-10-07 16:56] beaufour commented on #74
Unless I've missed something, it seems like it wasn't too much work :)

[2015-10-07 19:59] shpakovski commented on #74
Thanks!

[2015-10-07 20:14] beaufour opened #76 "Compiler warning for NSAccessibilityPriorityKey"
The only warning I get when compiling my project using MASShortcut is from MASShortcut:

Is this basically a check to see if the OS version is >= 10.9?

[2015-10-08 09:24] zoul commented on #76
Yes, we use the symbol later on line 147 and since it’s not defined on older systems, that code would crash there, so we need to do an availability check.

I wonder why I am not getting that warning… I guess that’s again CocoaPods: since they pull the naked files into a different framework, the build settings may be different. The code is correct, so I guess we might simply disable the warning for

[2015-10-08 09:32] zoul commented on #76
FYI, a1eeb57 is the crash fix with some detailed info.

[2015-10-08 15:50] beaufour commented on #76
Thanks for the rapid answer!

I guess it is not strictly a CocoaPods thing. If I manually import your sources into my project and have `-Wall` enabled I'll probably get it too. The above pragma takes care of the warning. This is a bit of a more precise "cut" though:

[code]

[2015-10-08 16:16] zoul commented on #76
I consider the build process to be a private implementation detail of the framework that should be encapsulated from the consumer. That’s why I’m not very happy about anyone pulling the naked source files and compiling them by hand. The downsides should be obvious in the light of the two last issues: there’s simply too much to be broken. And that’s why I like [Carthage](https://github.com/Carthage

[2015-10-08 16:41] beaufour commented on #76
That is a valid viewpoint, and also how most frameworks are shipped :) There is actually something nice about enforcing the same build warnings etc through all the source, but it is not exactly something I feel strongly about

:smile:

[2015-10-12 07:30] #76 closed

[2015-10-12 07:37] zoul commented on #74
This is now available in the 2.3.2 release on CocoaPods. @beaufour, can you please verify that the fix works in the version distributed by CocoaPods?

[2015-10-12 07:42] zoul commented on #73
I’m closing this issue, feel free to reopen if you need more assistance.

[2015-10-12 07:42] #73 closed

[2015-10-13 12:50] beaufour commented on #74
:+1: Works like a charm.

[2015-10-13 12:50] shpakovski commented on #74
Thank you guys 👻

[2015-10-13 12:57] zoul commented on #74
:+1:

[2015-10-21 17:08] jhoughjr commented on #74
This might be related as I'm having reports of users getting some hangs.
I'm using 2.3.2 as a cocoapod.

the crash is :
10/21/15 11:50:25.617 AM com.apple.xpc.launchd[1]: (com.apple.xpc.launchd.oneshot.0x1000002b.GhostNote[19341]) Service exited due to signal: Killed: 9
10/21/15 11:51:20.967 AM GhostNote[24081]: *** -[NSKeyedUnarchiver initForReadingWithData:]: data is NULL
10/21/15 11:52:15.079 A

[2015-10-21 17:16] jhoughjr commented on #74
at a breakpoint on line 12 of MASLocalization.m bundleURL is nil.

I'm not sure why I don't get this crash and other users do, but perhaps it has to do with their locale.

I just checked and it appears that the bundle it refers to is in the built product inside the MASShortcut.framework that cocoa pods generated.

[2015-10-22 12:25] shpakovski commented on #74
Thanks a lot for the problem report!

To me it looks like this code may help:
[code]
Can you check if it works please?

[2015-10-22 14:39] jhoughjr commented on #74
I believe that is the code that exists in the current latest version.
I found this issue since some users are getting a blocked UI when showing the view that contains the MASShortcutView.
For some reason though, for me it does not hang, but I would see the exception in the debugger.

The URL was nil, and this code seems to resolve properly and get the bundle.

NSString *MASLocalizedString(NSString

[2015-10-26 20:31] beaufour commented on #74
@jhoughjr so you are seeing the `bundleURL` == `nil` in your local build? And you build with `use_frameworks!`? (just making sure I fully understand it)

[2015-10-26 20:32] jhoughjr commented on #74
Yes I think that is what is happening.
Currently in specifying a hard coded url gleaned from inspecting the app bundle and the issue seems fixed.

Sent from my iPhone

[2015-10-26 20:37] beaufour commented on #74
Building as a framework is what Carthage is doing as far as I know, so the trick might just to only do the `COCOAPODS` ugliness when using CocoaPods but not when building as a framework. If you force the code to take the `#else` branch does it work for you?

[2015-11-03 20:23] kujenga commented on #74
I just ran a `pod update` on my application and am now running into the same issue that @jhoughjr was seeing. I also am using the `use_frameworks!` flag in my Podfile. The previous version I was using was 2.2.0, which worked just fine for me. For now I've just pinned to that specific version in my Podfile to keep things working, but that isn't the greatest solution.

[2015-11-03 20:28] zoul commented on #74
Did we find out whether the `use_frameworks!` flag makes `COCOAPODS` false? That would explain the issue.

[2015-11-03 21:10] beaufour commented on #74
My guess is that it actually makes it `true`, but that `use_frameworks` doesn't build the bundle so it evaluates to nil. But as said, I'm guessing. I have never used `use_frameworks` myself.

[2015-11-04 00:27] kujenga commented on #74
I think that `COCOAPODS` is always set to true when `pod install` is run as part of the configuration performed by CocoaPods, regardless of whether you are using frameworks in your application. In looking at my build settings for the application targets, I see that it has been specifically set in both the "Preprocessor Macros" section for Obj-C and the "Other Swift Flags" section for Swift.

In th

[2015-11-04 14:04] zoul commented on #74
I have tried to fix the problem by not guessing which bundle to use and simply using the one that works. Can you all please test the new code if it really works as intended? Sorry for the trouble.

[2015-11-04 15:41] beaufour commented on #74
:+1: Works for me (not using `use_frameworks!`). Nice `dispatch_once` pattern.

[2015-11-05 21:48] kujenga commented on #74
Sorry for the relayed response. This code does not crash for me, with `use_frameworks!` turned on, but unfortunately I'm back to the old issue of the XXX default value being shown everywhere.

[2015-11-06 08:02] zoul commented on #74
So how about now? The current code tests if the CocaPods bundle contains the localized strings. If not, it switches to the framework bundle instead.

[2015-11-12 03:19] jhoughjr commented on #74
Sorry everyone, i was very busy the last couple of weeks wrapping up a contract.
I'll test the latest version and let you know tonight.

[2015-12-02 18:53] zoul opened #79 "Why don’t we allow shortcuts with Shift and Alt modifiers?"
Recently I have found that MASShortcut doesn’t record shortcuts such as Shift-Alt-U. The reason is in the [validation logic in `MASShortcutValidator`](https://github.com/shpakovski/MASShortcut/blob/master/Framework/MASShortcutValidator.m#L40). I can understand why we disallow Alt-something, but shouldn’t Shift-Alt-something work? @shpakovski, do you have an idea why Shift-Alt-something is not cons

[2015-12-03 06:41] shpakovski commented on #79
@zoul I did not want to encourage these shortcuts because Shift-Option works just like Option. For example, Shift-Option-K = .

[2015-12-03 07:26] zoul commented on #79
Makes sense, thank you! (I will document the behaviour so that people know the thinking behind it.) I noticed the `allowAny…` switch, but I wasn’t sure what the exact deal was, what were the potential drawbacks, so I didn’t touch it. I’ll leave the issue open as a reminder to update the docs.

[2015-12-03 14:16] #79 closed

[2015-12-03 14:45] shpakovski commented on #79
Cool, thanks!

[2016-01-01 17:04] olivierguerriat commented on #74
Another data point: 7fc5e78 work for me (with `use_frameworks!`). Thanks for the fix!

[2016-01-09 14:49] zoul commented on #74
This should be now fixed by d32fc18, sorry for the long wait.

[2016-01-09 14:49] #74 closed

[2016-01-18 13:27] glyph opened #81 "add BridgeSupport generation to build"
I was able to use MASShortcut almost immediately from Python, but first I had to do this:

`gen_bridge_metadata -f ./MASShortcut.framework | sed -e "s/function_pointer='true'/block='true'/g" > MASShortcut.framework/Resources/BridgeSupport/MASShortcut.bridgesupport`

It would be nice if this were built in to the framework.  (I'm also not sure if a nicer way to do that `sed` exists...)

[2016-01-18 14:09] zoul commented on #81
Wow, I had no idea you could use frameworks from Python. (Have some pointers to further documentation?) What would we have to change in the build process? Just run a post-build script? How do we know it works?

[2016-01-18 14:14] glyph commented on #81
The steps are pretty straightforward.  A post-build script that runs that exact command should do it.  (You lucked out; some frameworks require extensive, weird post-processing to speak Python's dialect of BridgeSupport, but MASShortcut seems like it's in good shape out of the box.)

The next step is you have to create a Python package that describes the framework.  I put the following into `build

[2016-01-18 14:21] glyph commented on #81
As far as knowing it works; I'm not sure what your automated test situation is like, but here's a script that imports the framework and does a simple thing:

[code]

[2016-01-18 14:22] glyph commented on #81
BTW if you are curious about doing various Mac tricks with Python, you may find https://glyph.twistedmatrix.com/2015/07/just-a-button.html interesting.

[2016-01-18 14:25] glyph commented on #81
Oh, sorry. I jumped right to the back of the book.  If you want to get started with calling some cocoa APIs with Python, https://pythonhosted.org/pyobjc/ is the relevant tool :).

[2016-01-20 14:35] ianbytchek opened #82 "Isn't carbon api fully deprecated?"
I was trying to figure out how MASShortcut works and found that it uses `InstallEventHandler` call. I've read that Carbon API is now fully deprecated and doesn't support 64-bit systems. I assume this eventually will be an issue, Apple also cannot be thrilled about use of deprecated stuff. Can this potentially be a problem? Has anyone ever been warned about using it in App Store?

I also know there

[2016-01-20 18:39] shpakovski commented on #82
Thank you for the heads up!

Could you please be more specific? The API is definitely not deprecated in headers. It would be nice to hear some official quote, but Google does not help 😃 Unofficially Carbon “deprecation” means no new APIs in the future, if I did not miss anything.

[2016-01-20 19:07] ianbytchek commented on #82
For starters [wikipedia says that](https://en.wikipedia.org/wiki/Carbon_(API)#Deprecation):

Apple's Carbon official reference was completely removed last year: https://developer.apple.com/Carbon. Though there's still an [official legacy pdf](https://developer.apple.com/legacy/library/documentation/Carbon/Conceptual/Carbon_Event_Manager/CarbonEvents.pdf) floating around with "retired" messages all

[2016-01-20 19:29] zoul commented on #82
Until the APIs are officially marked as deprecated, there’s nothing wrong with using them. Even if they get deprecated, I think you can still submit apps using them to the App Store. Besides, I think the Carbon stuff is only used when executing shortcut actions, and that code is quite cleanly factored into separate classes, so it should be trivial to replace if needed.

I think I even tried to rep

[2016-01-20 19:39] ianbytchek commented on #82
Makes sense. So, are you saying that using Carbon directly doesn't require access for assistive devices is enabled? I just read literally a few minutes ago that it does like CGEventTapCreate, but wasn't sure how legitimate the information was. That would be a big reason to use it over Quartz.

[2016-01-20 19:52] zoul commented on #82
I have just found the note [in the official docs](https://developer.apple.com/library/mac/documentation/Carbon/Reference/QuartzEventServicesRef/#//apple_ref/c/func/CGEventTapCreate):

So yes, that’s a big plus for the (ugly) Carbon API.

[2016-01-20 19:59] shpakovski commented on #82
Thank you Tomáš, very good to know!

[2016-01-20 20:23] ianbytchek commented on #82
Awesome. Thanks a lot for clarifying those things!

[2016-01-20 20:23] #82 closed

[2016-01-20 20:23] zoul commented on #82
Happy to help!

[2016-01-21 14:18] ianbytchek commented on #82
So, I've given that a good try, and here's what I've figured, in case anyone wonders. Apparently, access for assistive devices is not required only for `EventHotKeyPressed` event kind when using `InstallEventHandler`. Other events, like `EventRawKeyDown` or `EventRawKeyUp`,will not work. Frankly, even with access enabled (`AXIsProcessTrustedWithOptions()` returns `true`) other keyboard events stil

[2016-02-10 18:19] zoul opened #85 "German localization strings don’t fit the recording control"
@floschliep, the new German strings you have contributed in the [last pull request](https://github.com/shpakovski/MASShortcut/pull/84) are too long to fit the control. I have introduced some basic support for the German localization to the demo project, can you please run it in German and take a look? As an example, the _Neuen Kurzbefehl eingeben_ “tip” displayed in the recording area is clipped.

[2016-02-11 13:50] floschliep commented on #85
I can shorten the strings, but the shorter the less descriptive they are. Here're the different versions:

Original  |  Long  |  Medium  |  Short
----------- | --------  |  -----------  |  --------
Type New Shortcut  |  Neuen Kurzbefehl eingeben  |  Neuen Befehl eingeben  |  Neuen eingeben
Use Old Shortcut  |  Alten Kurzbefehl nutzen  |  Alten Befehl nutzen  |  Alten nutzen

[2016-02-14 08:42] zoul commented on #85
I am afraid only the shortest ones will fit. If they are acceptable, I’d stick with them, for I can’t see any other easy way out.

[2016-02-14 08:45] #85 closed

[2016-03-07 19:36] YOnoda opened #86 "NSPanel to move front issue"
It seems that when you register the shortcut and trigger the registered shortcut to open the app, the app opens but the NSPanel window does always show up on the front even if you already closed the panel, because the instance of the panel is still retained.

This does not occur when you manually select the app icon from the dock; it only occurs when launched via keyboard shortcut.

Is there any w

[2016-03-08 07:40] shpakovski commented on #86
Could you please be more specific? Maybe show code that you use to open the app? `MASShortcut` is just a trigger which runs in the app using it, and it should not have any influence on other apps in the system.

[2016-03-09 22:21] YOnoda commented on #86
Sorry, that was my problem. I wrote the code that brings my windows to the front when the app enters the foreground as follows:

[code]

However, the similar code written in the shortcut handler didn't check on the `NSColorPanel`, making my app to bring the color panel to the front.

Sorry, the app was last updated more than 1 year ago and I should have checked it out more closely. I deeply apolog

[2016-03-09 22:21] #86 closed

[2016-04-08 13:42] radex opened #87 "CocoaPods with frameworks"
If I enable framework use in CocoaPods (for Swift support), like so:

[code]

MASShortcut won't work. Trying to `#import` a header doesn't work, and importing the MASShortcut module will silently fail — will compile, but no symbols will actually be imported.

I pinned down the issue to the the `MASShortcut-umbrella.h` file generated by CocoaPods:

[code]

I suppose that the fact that it generates

[2016-04-08 14:20] shpakovski commented on #87
Thanks a lot for the problem report Radek! Sorry but I don't know how to fix this. @zoul Hi Tomáš, maybe you have any idea?

[2016-04-10 16:31] zoul commented on #87
I just tried creating a fresh Xcode Swift project for an OS X app using MASShortcut via CocoaPods with the `use_frameworks` flag on. The project builds just fine, I can `import MASShortcut` without build errors and also creating and logging an instance of `MASShortcut` works. Where could be the difference?

[2016-04-10 17:46] radex commented on #87
Very interesting. I'll try this again later in the week, but one diff could be, I'm using CocoaPods `target`s to group together pods…

[2016-04-11 09:18] radex commented on #87
Sigh. I tried again, making sure to remove all of DerivedData etc, and could not reproduce the issue. Perhaps it was some botched cache (I was upgrading from 1.x after all).

[2016-04-11 09:18] #87 closed

[2016-04-11 09:18] shpakovski commented on #87
Thank you very much guys!

[2016-04-11 09:19] zoul commented on #87
Happy to help! 👍

[2016-04-13 19:06] jhoughjr opened #88 "MASShortcut/MASShortcut.bundle: No such file or directory"
Trying to build with cocoapods. When i did a pod update, I ran into this build error.
I'm not sure how to fix it, since i don't see the bundle it is looking for anywhere under the pods project.

[2016-04-13 19:12] jhoughjr commented on #88
Inside of derived data ../Debug/ I have MASShortcut, and another MASShortcut folder that contains the bundle.
When i manually moved it out into the top level of MASShortcut, the same level with the framework it built.

[2016-04-14 06:24] zoul commented on #88
Just a week ago we were investigating a different issue regarding CocoaPods (see #87) and I tried building a fresh Xcode project with the current MASShortcut version installed through CocoaPods, with no problems. Can you please make sure that it’s not a local problem with CocoaPods? Maybe reinstall the pods afresh?

[2016-04-14 08:06] #68 closed

[2016-04-18 04:50] jhoughjr commented on #88
I've tried reinstalling cocoa pods and am at 0.39.0.
I deleted the xcworkspace and did pod install.

I'm still getting :
CpResource /Users/jimmyhoughjr/Library/Developer/Xcode/DerivedData/GhostNote-aqfthowqdbdibwensghrcgbcparn/Build/Products/Debug/MASShortcut/MASShortcut.bundle /Users/jimmyhoughjr/Library/Developer/Xcode/DerivedData/GhostNote-aqfthowqdbdibwensghrcgbcparn/Build/Products/Debug/MASSh

[2016-04-18 04:53] jhoughjr commented on #88
Seems I needed to fully uninstall all versions, i had a few.
Reinstalling and remaking the workspace appears to have fixed it.

[2016-04-18 04:53] #88 closed

[2016-04-18 04:53] jhoughjr commented on #88
BTW thanks for the suggestion!

[2016-04-18 15:42] radex opened #90 "Re-assigning same shortcut triggers it"
1. Say I have a hotkey set up with Cmd+Ctrl+T
2. I focus into the shortcut view
3. I change my mind, and just want to assign the same thing, so I press Cmd+Ctrl+T

Expected behavior: Cmd+Ctrl+T is assigned, shortcut view blurs

Actual behavior: The shortcut is triggered before the shortcut view can intercept it.

Workaround would be to manually unbind on shortcut view and re-bind after blur.

This

[2016-04-19 06:55] zoul commented on #90
I think the easiest solution would be to unbind the shortcut when the recording control gets focused? (By the way, did you know that you can also return back to the previous shortcut by pressing escape?)

[2016-04-19 07:05] radex commented on #90
Probably, yeah!

Yes ;)

[2016-04-26 12:52] dsanghan opened #91 "Event deadlock in MASShortcutView.m"
I'm using the MASShortcutView inside an NSTableView which is inside an NSPopover. The popover autoreleases its memory with a delay on closing it. What this causes is that the MASShortcutView inside the table cell gets deallocated with a delay thereby triggering `[self activateEventMonitoring:NO];` with a delay as well. Since the dealloc happens after this delay, and if another NSPopover is opened

[2016-04-27 06:41] shpakovski commented on #91
Thank  you for the report! So it should be a counter and methods `beginEventMonitoring` / `endEventMonitoring` which stops monitoring when it reaches zero 🤔 Would this help?

[2016-04-27 09:33] dsanghan commented on #91
Yup. I think that should work. Thanks!

[2016-05-29 00:00] whitehat007 opened #92 "Add ability to customize text/border color"
It would be helpful, at least for me, if there was a way to change the text and border color of the control. I was thinking that, at least in regards to the text color, the `_shortcutCell.font` property could be exposed, but I'm not sure how to do that.

[2016-06-27 20:14] madrobby commented on #74
I'm on Cocoapods version of MASShortcut v2.3.3 in a RubyMotion project (I'm on RubyMotion v4.12). I see the "XXX" instead of real strings.

1. Has anybody else experienced this with RubyMotion?
2. "XXX" is an extremely bad placeholder because you can't google for it (try it, it's NSFW)

[2016-08-12 10:02] zoul commented on #47
This has been silent for a long time now. I will close the issue and if there any other accessibility related trouble, we can open another one. Thanks for contributing!

[2016-08-12 10:02] #47 closed

[2016-09-26 10:47] zoul opened #96 "Format the Option modifier as “alt”, not ⌥"
Apple has dropped the ⌥ symbol from (some? all?) recent keyboards:

![modern Apple keyboard](https://cloud.githubusercontent.com/assets/95329/18831597/d50d2b36-83e6-11e6-86b2-e700dbb7e81d.jpeg)

Which means we are formatting the Option key in a way that can be confusing for some users, since they can’t find the ⌥ key on their keyboards. Note that this problem also applies to Apple themselves, sinc

[2016-09-26 11:31] shpakovski commented on #96
Hi Tom! Ugh, this is so controversial… Let’s wait while Apple releases new MacBook Pro? 😃

[2016-09-26 12:06] zoul commented on #96
The trouble is that an app can tell you to press something like ⌥K when there’s no such key as ⌥ on your keyboard. And you’re right – Control is the same problem.

We went through an internal discussion for an app we use MASShortcut for and decided to leave the code as it is, at least for the moment, because the current behaviour is consistent with the system. Which is the most important thing.

S

[2016-09-26 12:06] #96 closed

[2016-10-11 06:48] wangchenyun opened #97 "hotkey bind fail but return success"
If shortcut is alread exist by other apps，it will work fail with any information.The api "RegisterEventHotKey" always return ture. Does anything I can do with it?

And it cause a problem that hotkey bind ,in fact it is a failure and can not bind same hotkey again.
so I want to change this block(@property (nonatomic, copy) void (^shortcutValueChange)(MASShortcutView *sender);),but I can found where

[2016-10-13 15:01] shpakovski commented on #97
Hello Wang, thanks a lot for the problem report!

Could you be more specific? Please describe all steps to reproduce this Issue, maybe starting from `git clone`.

Thanks in advance 👍

[2016-10-18 11:28] wangchenyun commented on #97
Sorry for my late reply!
While a key (like Cmd+W) is registered as an exclusive key,you can not register a same key exclusive later.
It is ok,but when the first register app has quit，I also can not register the same key.I should unregister the key that I have register fail before and then I can register. This is the way now I handle.
do you have any good ideas to deal with this problem?

[2016-10-28 10:17] zoul opened #99 "Silence deprecation warnings when building for Sierra"
See #98 for the rationale.

[2016-10-28 11:21] zoul commented on #99
Long story short: `NSControlKeyMask` and friends were replaced with `NSEventModifierFlagControl` and similar in macOS Sierra. The project builds fine & clean, but including MASShortcut in a project with deployment target set to 10.12 results in several deprecation warnings because of the control masks. Simply replacing the old symbols with the new ones isn’t an option, since it breaks the build on

[2016-10-28 11:24] zoul commented on #99
[Here’s a similar scenario](https://lists.gnu.org/archive/html/emacs-devel/2016-08/msg00358.html), they simply define the new symbols on older SDKs. I think that’s an acceptable approach if we get the SDK version check right. We could then delete the defines later, when 10.12 is the standard SDK everywhere.

[2016-10-28 13:15] zoul commented on #99
OK, after a few fumbles I think I got the conditional defines right. @clemens-schulz, can you please verify that the current HEAD builds cleanly in your 10.12 project? After that I can make a release.

[2016-10-29 13:09] clemens-schulz commented on #99
Current HEAD builds cleanly. 👍 Thank you for fixing it!

[2016-10-29 20:43] shpakovski commented on #97
I’m very sorry, but please, describe the case step by step. It is still not clear to me what is a problem.

[2016-10-30 08:49] zoul commented on #97
Same here, unfortunately: I can’t understand the problem clearly enough.

[2016-10-30 08:55] zoul commented on #99
Great, happy to help. Now available in the 2.3.6 release.

[2016-10-30 08:55] #99 closed

[2016-11-20 21:56] jordi12100 opened #101 "Introduce an option to hide the delete hint button"
I've just spend an hour trying to hide the delete hint button because I don't want users to leave a hotkey empty. They're pre-filled and users have the option to override them.

I managed to delete the button by overriding the `getShortcutRect` method like below, but it would be nice to have an option to hide this without overriding the code.

[code]

[2016-11-26 00:09] pointum opened #102 "Nullability annotations"
Is it OK to make pull requests with nullability annotations? I was going to add some, but I don't know if you intend to support anything below Xcode 7.

[2016-12-01 21:13] shpakovski commented on #101
Thank you for the request, I will consider this feature!

[2017-01-13 17:25] kimaldis opened #105 "MASShortcut.description when altering keycode"
I have a table, one row for each of a list of shortcuts held in my app including, amongst other things, a string which is the key combination that calls the shortcut. I'm populating the table using an array of shortcuts which is built when the shortcuts are instantiated earlier in the app. I pull this string from MASShortcut.description and that's fine until the app user changes the key combinatio

[2017-01-13 17:35] zoul commented on #105
I don’t understand how would the automatic case work. You have some kind of a collection of shortcuts that you display using a table, right? Now if the user changes a shortcut using `MASShortcutView`, the contents of the collection change and you have to refresh the table. How could `MASShortcut` help you when it knows nothing about the collection? `MASShortcut` is an immutable class, there’s no e

[2017-01-14 07:16] kimaldis commented on #105
I'm relatively new to Swift and Apple dev and wholly unfamiliar with ObjectiveC so it's almost certainly me that has it wrong, any day of the week. You're more or less right on the table method but I'd assumed wrongly on how the shortcut class worked. I'll need to go back and get my head around it properly. Thanks for your input, though. It was useful.

[2017-01-14 15:12] kimaldis commented on #105
OK, I'm nearly there, I think. One more question:

I'm using MASShortcutBinder to store my shortcuts in userdefaults. Initially creating a set of shortcuts when the app starts:

    let msShortcut = MASShortcut(keyCode: , modifierFlags:  )
    MASShortcutBinder.shared().registerDefaultShortcuts([ userKey: msShortcut ])
    MASShortcutBinder.shared().bindShortcut(withDefaultsKey:  userKey ) { // co

[2017-01-15 09:18] zoul commented on #105
Since you already use `NSUserDefaults` for storage, can’t you also use it as the model, triggering all changes? In my app, all `MASShortcutView`s are bound to user defaults, and so are all parts of the app that depend on the shortcuts. When user changes a shortcut though the view, the bindings update the value stored in user defaults, which in turn – again, through bindings – updates the shortcuts

[2017-01-15 09:38] kimaldis commented on #105
You mean retrieve the shortcut description from user defaults, rather than storing?

[2017-01-15 10:10] zoul commented on #105
If you store the description independently on the shortcut itself, you’re definitely asking for trouble, as it’s easily possible for the two to get out of sync. I would never separate the description from the shortcut – if something displays a shortcut, it should get a real `MASShortcut` value and only convert it to the textual value at the last moment.

[2017-01-15 13:43] kimaldis commented on #105
I do get that and I'm not. I'm aware that my unfamiliarity with this might be causing some confusion so I'll have one more go before I stop annoying you. :-)

My app creates, registers and binds a set of shortcuts immediately it starts using MASShortcutBinder. My user is then presented with a table of shortcuts. I don't have a MASShortcutView associated with each shortcut, there will only ever be

[2017-01-15 17:15] zoul commented on #105
Not annoying at all! Happy to help. Sorry for being daft.

Would it work for you to store not the shortcuts themselves in the collection, but their defaults keys? When displaying the collection you can then read the associated shortcut from defaults. A bit like this:

[code]

[2017-01-15 18:09] kimaldis commented on #105
I'm getting nil from defaults.object but let me investigate at this end. It's probably my fault because it looks like what I want. Thanks.

[2017-01-16 08:31] kimaldis commented on #105
It definitely returns nil. Are shortcuts stored as data rather than objects?.

 My solution, however. It's roundabout but it works. I am the master of kludge.

     struct Item {
          let shortcutKey: String
          let userInfo1: …
          let userInfo2: …
      }
      @IBOutlet weak var ShortcutViewOutlet: MASShortcutView!

      func displayItem(item: Item) -> String? {
          Shor

[2017-01-16 09:44] zoul commented on #105
My eyes, my eyes! :goberserk: :–) A shortcut can’t be saved to user defaults directly, it has to be serialized somehow. Take a look at `MASDictionaryTransformer`, it should be able to transform the value stored in user defaults back to a valid `MASShortcut`.

[2017-01-16 12:42] kimaldis commented on #105
It doesn't appear to be as simple as:

	let defaults = UserDefaults.standard
	let data = defaults.data(forKey: userKey )

	let shortcut = MASDictionaryTransformer().reverseTransformedValue( data )

or is it?

[2017-01-16 13:01] zoul commented on #105
It’s close! There are two ways to store an `MASShortcut` in user defaults: `NSData` or `NSDictionary`. I like the dictionary approach better, since it makes the shortcut readable when accessing through the `defaults` CLI client. If you have them stored as dictionaries, you have to read them as dictionaries:

[code]

I think that should work. If it doesn’t, take a look what `serializedShortcut` act

[2017-01-16 13:33] kimaldis commented on #105
Dictionarn() seemed to be the obvious place to start but it returns nil. data() wsa the only method that returned a non nil value.

[2017-01-16 14:06] zoul commented on #105
In that case your shortcuts are serialized to `NSData` (using `NSCoding`) and you have to deserialize them using `NSKeyedUnarchiver`:

[code]

[2017-01-16 15:23] kimaldis commented on #105
That did it. I'm good to go now. Many thanks for your help and patience.

[2017-01-16 15:32] zoul commented on #105
Happy to help!

[2017-01-16 15:32] #105 closed

[2017-01-20 15:41] zoul opened #106 "Ctrl-Alt-Cmd-Left/Right doesn’t work"
The input view won’t accept the shortcut, why?

[2017-01-31 08:28] zoul commented on #106
My fault, the combination was already bound by a running application.

[2017-01-31 08:28] #106 closed

[2017-02-08 20:05] ivancucer commented on #92
Ah that would be great!!! @shpakovski any news ? Thanks

[2017-03-04 18:32] yn5 opened #107 "Execute action on key down too?"
Is there a way to make the make the action execute on both key down _and_ key up?

[2017-03-04 18:47] zoul commented on #107
Sorry, not at the moment. (See `MASShortcutMonitor`, we look for the `kEventHotKeyPressed` event.) It should be trivial to patch the code yourself to watch both `kEventHotKeyPressed` and `kEventHotKeyReleased`, but I think the feature would be used so seldom it’s hard to justify adding it to MASShortcut. What’s your exact use case?

[2017-03-07 22:12] yn5 commented on #107
Thanks for the info @zoul! I'm writing an application that is momentarily activated while a hotkey is held, so active when pressed, inactive when released.

[2017-03-08 08:27] zoul commented on #107
Ah, that makes good sense. In that case I suggest writing your own `MASShortcutMonitor` class (it should be fairly simple to adapt it from the vanilla one) and plugging it into a `MASShortcutBinder`, maybe even the shared one. Then you should get what you want while still keeping the rest of MASShortcut. Do you think that would work for you?

[2017-03-12 18:48] yn5 commented on #107
Thanks a lot for your suggestion @zoul! I'm pretty new to macOS/Cocoa development though and I'm not entirely sure if I understand you correctly. Should I write a new MASShortcutMonitor (not subclassing the existing one) and plug it into MASShortcutBinder using its setShortcutMonitor method?

In that case I’d think it would be easier for me to fork the repo and modify the existing MASShortcutMonit

[2017-03-12 18:53] zoul commented on #107
You got my suggestion just right! The advantage in comparison to forking the repo is that you could keep using vanilla MASShortcut, getting new bug fixes, features etc. (But that’s just the first thing that came to my mind when thinking about your problem, so there might be an obvious downside somewhere.) I think we could even make `MASShortcutMonitor` easier to modify, but I don’t have the time r

[2017-03-13 03:04] yn5 commented on #107
Cool! I'll give it a shot once I have time one of the coming days.

[2017-03-22 15:44] zoul opened #109 "Update strings regarding Keyboard & Mouse preference pane"
See PR #108 for the original hint. We say that “…most shortcuts can be changed in the Keyboard & Mouse panel in System Preferences”, but the correct path should be _Keyboard_, as this pane has been split in two for a while on macOS.

[2017-03-25 08:58] anti-transmission commented on #72
Can you fix for 1.0 branch as well? Thank you!

[2017-05-30 16:01] yn5 commented on #107
@zoul I gave that shot in: https://github.com/shpakovski/MASShortcut/pull/111

[2017-07-05 11:17] Grekstor opened #112 "PT-BR translation used for Portuguese users"
Hi! Looks like it is wrong to use the pt.lproj that you have for users from Portugal. The locale should only be used for PT-BR.

[2017-07-08 15:26] shpakovski commented on #112
Hi, could you please make changes, test and submit a Pull Request? Thanks in advance!

[2017-11-16 07:10] ralcr opened #113 "Can't capture numbers and letters"
Hi, I'm building an app that when is visible (it's a borderless window so even if he app is front most the active app is the one behind it) it captures all the important keys and does something with them. All works fine except when I enable the sandbox, then only the arrows and backspace and enter is captured, if I type letters and numbers they go to the active app.
Is this a limitation of sandbox

[2017-12-19 20:49] kainjow opened #117 "Shortcuts not working when NSMenu is active?"
We're seeing an issue where a registered shortcut does not get called until after a popup button's menu is dismissed.

This sounds like the same or very similar issue: https://github.com/shortcutrecorder/shortcutrecorder/issues/45

Any known issues or workarounds regarding shortcuts and menus?

[2018-04-11 16:11] jhoughjr commented on #113
I'm having a similar issue, no sandbox,  non menu bar app. The MASShortcutView only accepts modifier keys and dunks for any alphanumeric.

[2018-04-21 07:21] kimaldis opened #118 "shortcut repeat"
I don't suppose there's a way to have shortcut keys repeat?

[2018-04-21 08:32] shpakovski commented on #118
Not sire what you mean, sorry. Could you please be more specific?

[2018-04-21 09:03] kimaldis commented on #118
Sorry, I was unclear. When you key a shortcut key combination and hold it down it doesn't repeat like normal character keys do. I'm using shortcuts to control sliders; one for increase, the other to decrease the slider value. At the moment I have to repeatedly press the key combination. It would be nice if it repeated when held down.

[2018-04-21 09:06] shpakovski commented on #118
Ah, I see… This feature is not supported, unfortunately. Sorry for inconvenience 😐

[2018-04-21 09:06] kimaldis commented on #118
No problem. It was just a thought

[2018-04-21 13:46] #118 closed

[2018-08-28 21:42] davedelong opened #121 "Use NSEvent constants instead of hardcoded values"
`MASShortcut.m` has a switch statement inside `-keyCodeStringForKeyEquivalent` to translate a virtual key code into a user-facing string.

This method hard-codes a bunch of values, like `0xF704` for F1.

Instead of hard-coding these values, you should use the constants defined in NSEvent.h (down towards the bottom of the file), so `0xF704` would become `NSF1FunctionKey`, which would make its meani

[2018-10-01 10:27] JoeriBultheel opened #122 "Possibility to bind shortcuts application-specific instead of globally?"
Hi,

I love MASShortcut, but I want to have one of my shortcuts to not be active system-wide/globally but only when my app is in focus. Is there a possibility to set this in code somehow?

Thank you

[2018-10-01 10:29] shpakovski commented on #122
Hi Joeri, please check this API: [addLocalMonitorForEvents(matching:handler:)](https://developer.apple.com/documentation/appkit/nsevent/1534971-addlocalmonitorforevents). Does it help?

[2018-10-01 11:59] JoeriBultheel commented on #122
Thank you!

I only knew about addGlobalMonitor... silly me.
Would be nice to integrate this into MASShortcuts nonetheless imo.

Cheers

[2019-01-03 10:52] Elpidam commented on #113
@jhoughjr This is because MASShortcutView uses `RegisterEventHotKey` Carbon function which, **by definition**, registers modifier keys + alphanumerics or keys like space or Tab which are neither alphanumeric nor modifier keys.
I wish there was a way to capture just an alphanumeric without any modifier key involved. Some apps do it (not sandboxed ones).

[2019-01-11 06:18] ralcr commented on #113
I think is not about what MAS uses but about the sandbox, if they allow this some random utility in your status bar could steal what you type in other apps.

[2019-04-19 19:30] ttscoff opened #124 "Autolayout issue"
I'm attempting to instantiate a MASShortcutView programmatically and insert into an autolayout stack. The button always shows up with the view slightly short so the top and bottom lines of the button are cut off. Any chance of a fix for the intrinsic size of the view?

[2019-04-21 07:32] shpakovski commented on #124
Hi Brett, does `heightAnchor` help?

[2019-04-23 02:07] fletcher commented on #124
Hi.  I'm working with Brett on this project.  I'll take a look at heightAnchor, but is it correct that the MASShortcutView doesn't have an intrinsic size that provides a minimum height?  Putting the MASShortcutView inside of an NSStackView with other items (e.g. NSTextField, NSButton, etc.) results in a view that shows everything else, but the MASShortcutView ends up with a height of 0, making it

[2019-04-23 06:27] shpakovski commented on #124
Hey Fletcher, that’s right. Auto Layout was introduced later than `MASShortcut` was born. Maybe `frameSize` works if you disable translating autoresizing masks into constraints?

[2019-04-23 10:10] fletcher commented on #124
So is there any reason *not* to provide an `intrinsicContentSize` to make `MASShortcutView` more compatible with auto layout?

[2019-04-23 11:40] shpakovski commented on #124
The intrinsic content size is depending on the control style which may influent the cell appearance. If handled properly, it can definitely be implemented. Pull Request is welcome 👌

[2019-05-02 23:18] fletcher commented on #124
Done.

[2019-05-31 14:45] zoul commented on #112
I’m closing this for inactivity – Gregstor, if you still have interest in this, please reopen. Thank you!

[2019-05-31 14:45] #112 closed

[2019-05-31 14:49] zoul commented on #122
If I understand the issue correctly, adding a local handler for a `MASShortcut` should be fairly easy using the API linked to above, so I don’t feel like this is a must have in MASShortcut. Joeri, if you have a use case where additional support in MASShortcut would make life much easier for you, please reopen. Thank you!

[2019-05-31 14:49] #122 closed

[2019-05-31 14:50] zoul commented on #124
Merged in #125, thank you!

[2019-05-31 14:50] #124 closed

[2019-05-31 14:53] zoul commented on #102
Three years later, ehm 😇 Yes, we would love the nullability annotations if you’re still interested.

[2019-06-02 08:46] #121 closed

[2019-06-03 15:48] zoul opened #131 "Availability warnings blocking CocoaPods release"
When running `bundle exec pod lib lint`, I get a bunch of warnings like this:

[code]

I think this is a regression introduced in #125.

- [x] Why don’t we see the warnings when building interactively?
- [x] Fix the errors by bumping deployment target or adding availability guards
- [x] Add CocoaPods lib linting to Travis build to prevent these regressions in future?

[2019-06-11 10:46] #131 closed

[2019-06-11 15:20] corysullivan opened #133 "Add keyEquivalent to NSMenuItem"
I'm attempting to add a keyEquivalent to an NSMenuItem that corresponds to a particular `MASShortcut`. However, the only way I can get this value is through the `MASShortcutView`

[code]
is it possible to get a reference to the shortcut any other way?

[2019-06-11 20:20] zoul commented on #133
I’m not sure if I follow. There’s a `keyCodeStringForKeyEquivalent` property on `MASShortcut`. What keeps you from using that, directly? I’m sorry if I’m missing the point.

[2019-06-12 13:40] zoul commented on #102
Basic annotations have been added, so I’m closing this. If someone needs more of the annotations, feel free to reopen.

[2019-06-12 13:40] #102 closed

[2019-06-13 12:30] zoul opened #135 "Improve “revert to previous shortcut” icon?"
The icon we currently use for reverting to previously set shortcut is a bit non-intuitive:

![current](https://user-images.githubusercontent.com/95329/59432435-98adce80-8de7-11e9-84b5-f8298123f280.png)

I wonder if we could switch to something like this:

![normal](https://user-images.githubusercontent.com/95329/59432465-a400fa00-8de7-11e9-8234-02cc35680fe3.png)

What do you think, Vadim?

[2019-06-13 12:46] shpakovski commented on #135
Hey Tom, I used a standard Escape glyph as a hint too 😄 I like your suggestion but the implementation is not very polished, sorry 🙈

[2019-06-13 13:11] zoul commented on #135
100 % agreed :–) I have noticed that the current glyph is the standard one for Escape, but my opinion is that people don’t know it, since it isn’t used much. (I think I only know it from the _Force Quit_ system menu item.) And the glyph I’m proposing is a nice one:

![Screenshot 2019-06-13 at 15 08 25](https://user-images.githubusercontent.com/95329/59435068-1d4f1b80-8ded-11e9-9edd-30c498c3e1ea.pn

[2019-06-13 13:14] shpakovski commented on #135
Indeed others are even worth, I see now. Thanks. Let’s just leave the current one? 🙈

[2019-06-13 13:16] #135 closed

[2019-06-29 17:59] corysullivan commented on #133
Sure I can use it directly, but the shortcut is initiated in the preference controller, and I was hoping to access it elsewhere, but I can make it work. Thanks

[2019-06-29 17:59] #133 closed

[2019-07-20 16:22] ninjaprox opened #136 "`associatedUserDefaultsKey = nil` doesn't unbind the previous key"
### Steps to reproduce

[code]

### Expected

The data stored in `NSUserDefaults` is `<shortcut A>`.

### Actual

The data stored in `NSUserDefaults` is `<shortcut B>`.

[2019-07-28 13:15] akamensky opened #138 "Does not work when some other application takes over keyboard"
Tried demo on macbook pro with touch bar using a shortcut like "Shift+Cmd+b", it works everywhere except the case where I actually would like this to work: an OpenGL application that runs in a fullscreen and possibly takes over a keyboard.

[2019-07-29 08:08] shpakovski commented on #138
Not sure if this can be fixed. Could you try alternate components for the shortcut recording? Do they work while the OpenGL window is active.

[2019-07-29 08:12] shpakovski commented on #136
This is a nice bug (and fix). Thanks 👍

[2019-07-29 08:12] #136 closed

[2019-09-21 17:01] leontea opened #139 "How can I capture a system shortcut key?"
For example, I want to capture the cmd+Q, but the demo app just quit because cmd+Q is the shortcut key for quitting application.

[2019-09-22 13:44] zoul commented on #139
There’s an explicit code path for Cmd+W and Cmd+Q handling in `MASShortcutView`:

    // If the shortcut is Cmd-W or Cmd-Q, cancel recording and pass the event through
    else if ((shortcut.modifierFlags == NSCommandKeyMask) && (shortcut.keyCode == kVK_ANSI_W || shortcut.keyCode == kVK_ANSI_Q)) {
        weakSelf.recording = NO;
    }

When I comment that out and set a `nil` validator for `_custo

[2019-09-23 09:06] shpakovski commented on #139
Thanks Tomaz, hi Leon. I agree that such functionality is quite advanced for a standard setup. @leontea Please consider to make a fork and suggest a Pull Request if you believe the component wins from that. Kind regards!

[2019-09-23 09:18] leontea commented on #139
Thanks, Zoul.

I actually did find that disabling the validator could be doing the job.

But soon, I encounter another problem. I've set cmd+L as a LockScreen key in the Keyboard Preference, and the demo failed to capture it since my mac just got locked after pressing the key. It is completely customized and it could be anything else. I can't just put all the possibilities in the IF statement.

Wh

[2019-09-23 09:23] shpakovski commented on #139
`MASShortcut` uses APIs which may sit on a higher level than some system shortcuts need. I believe hotkeys like Command-Tab must be treated differently and what you need here is a custom solution, additional to our component. Makes sense?

[2019-09-27 15:10] leontea commented on #139
Thank you shpakovski. I have another question. How can I capture a single function key. For example, when I press the option key globally, I want my app to do something. I tried the following code, did not work. Could you give me some instructions?

[code]

[2019-09-28 07:40] zoul commented on #139
I think this is out of scope for MAS Shortcut, since the Option key itself is not a complete key shortcut. Take a look at event taps, they should be able to do what you want (monitor arbitrary keyboard events).

[2019-09-28 07:41] leontea commented on #139
thanks a lot

发自我的iPhone

------------------ Original ------------------
From: Tomáš Znamenáček <notifications@github.com&gt;
Date: Sat,Sep 28,2019 3:40 PM
To: shpakovski/MASShortcut <MASShortcut@noreply.github.com&gt;
Cc: leontea <leontea7070@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [shpakovski/MASShortcut] How can I capture a system shortcut key? (#139)

I think this is o

[2019-09-28 08:21] zoul commented on #139
You’re welcome! I will close this, but if you feel there is something more we could do for you, reopen or post a new issue.

[2019-09-28 08:21] #139 closed

[2019-12-25 02:56] gee1k commented on #117
If you have menu items with the same function in your menu, you can bind the same shortcut keys to the menu items. And bind or unbind global shortcuts when the menu is opened or closed.

![image](https://user-images.githubusercontent.com/12059800/71430129-1cd0ff00-2705-11ea-9dec-5bc5504b6796.png)
![image](https://user-images.githubusercontent.com/12059800/71430145-2ce8de80-2705-11ea-9197-c18e4758f

[2019-12-25 03:00] gee1k commented on #117
final effect:

![2019-12-25 10-58-24 2019-12-25 10_59_33](https://user-images.githubusercontent.com/12059800/71430262-b8fb0600-2705-11ea-8ca1-355e1f5584be.gif)

[2020-04-09 11:43] dataexcess opened #142 "Overwriting shortcut warning only partially working"
Hello,

First of thanks for the awesome library.
I am experiencing issues when trying to set a shortcut for my MASShortcutView.

When I try to set "command-n" it correctly displays the following warning:
`This shortcut cannot be used because it is already used by the menu item ‘New’.
`
When I try "command-shift-n" it does not complain, and the shortcut is set. But that combination is also used by

[2020-04-09 17:18] Kentzo commented on #142
Neither shortcut is global: they are handled only when the Finder application is global. It's impossible (without employing intrusive malware-alike actions) to determine shortcuts used by other apps.

[2020-04-11 08:37] shpakovski commented on #142
Thanks @Kentzo 👍

[2020-04-11 10:21] dataexcess commented on #142
Ok @Kentzo thank you for clarifying. I guess the command+n shortcut overwrite was originating from the hidden menu in my own application and I mistook it for finder's command.

[2020-04-17 19:45] rampatra opened #143 "Bridging header file instructions link broken"
The bridging header file instructions link is broken in the readme page.

[2020-04-17 21:25] rampatra opened #144 "Can I add a Package.swift file and use it with SPM?"
I was thinking to add a Package.swift file like below:
[code]
and then use it in my swift project. Can I do it?

[2020-04-17 21:26] rampatra commented on #144
I actually went ahead and tried the above and I successfully added this library as a dependency but I tried to build it I got the below errors:
<img width="1151" alt="Screenshot 2020-04-17 at 22 21 33" src="https://user-images.githubusercontent.com/2862724/79615318-64d3c180-80fa-11ea-9775-bcec1bf9af31.png">
Any ideas?

_I am a complete greenhorn in swift so please pardon my naivety._

[2020-04-18 17:15] rampatra commented on #144
The swift forum helped me [here](https://forums.swift.org/t/can-i-use-swift-package-manager-in-obj-c-code/35463/9?u=rampatra) but the library is behaving weirdly even though it compiles fine. Not sure what's going on. Any help would be really appreciated.

[2020-04-19 09:38] shpakovski commented on #144
Hi @rampatra Thanks for trying to wrap this code into a Swift Package. I cannot add an official full-featured package at the moment, but you’re moving in the right direction. Maybe `xxx` is displayed because localization tables are not available. Make sure to copy `.strings` into the main app’s `Resources`. Hope this helps, and sorry for the slow reply!

[2020-04-19 09:39] shpakovski commented on #143
@rampatra Have you managed to fix this?

[2020-04-25 09:13] rampatra commented on #143
No, unfortunately. And, sorry for the late reply.

[2020-04-25 09:15] rampatra commented on #144
No worries. I have currently gone with https://github.com/soffes/HotKey for now but I would be soon using this library after I've added a couple of urgent features in the app. I can update here once I am done.

[2020-05-01 12:40] iSapozhnik commented on #144
@rampatra @shpakovski
I think the problem here is that currently it's not possible to add any resources to SPM.
But it will be possible pretty soon ;)
https://forums.swift.org/t/se-0271-package-manager-resources/30730

[2020-05-21 21:21] ildede opened #145 "Unconsistency between italian translation from Apple"
I notice that in the file [it.lproj/Localizable.strings](https://github.com/shpakovski/MASShortcut/blob/master/Resources/it.lproj/Localizable.strings)
is used the word "scorciatia" as translation for "shortcut", but actually Apple use the word "abbreviazione".
The meaning is the same, but I think it's better to keep consistency with Apple style what do you think?

![Screenshot 2020-05-21 at 23 02

[2020-05-21 21:49] shpakovski commented on #145
Sure, thanks a ton 🙏

[2020-05-24 07:47] Kentzo commented on #145
@ildede would you mind to also check https://github.com/Kentzo/ShortcutRecorder/blob/master/Resources/it.lproj/ShortcutRecorder.strings ?

[2020-05-24 12:44] ildede commented on #145
Yeah sure! There's minor issue there, I will fix those ;)

[2020-05-28 19:57] #145 closed

[2020-06-01 08:09] SenorSamuel commented on #79
that's really cool

[2020-06-01 11:19] rampatra commented on #144
@iSapozhnik yes, so I have gone with the below code (in MASLocalization.m file) to allow only English translation for now:
[code]
All credit goes to https://forums.swift.org/t/can-i-use-swift-package-manager-in-obj-c-code/35463/19

[2020-06-06 18:43] rampatra opened #147 "Tab isn't allowed"
I have used this library in my app [Presentify](https://apps.apple.com/us/app/presentify/id1507246666). It works great but when I try to change the key shortcut, via the view, to `⌃` `⇥` (Control + Tab), it doesn't accept.

However, if I define the same shortcut in code, as default, then it works.

How can I make the view also accept tabs as shortcuts?

[2020-06-07 21:27] rampatra commented on #144
I am closing this as I've converted it to a Swift Package successfully [here](https://github.com/rampatra/MASShortcut).

Thanks for all the help!

[2020-06-07 21:27] #144 closed

[2020-07-11 18:30] rampatra opened #148 "Is there a way I can detect press and hold with MASShortcut?"
I want to perform some actions when the user presses and holds `Fn` key. Can I detect long key presses with this library? If yes, a simple code snippet would be great.

[2020-07-12 09:06] Kentzo commented on #148
The answer is going to be different on whether your keypress is an ansi key-code (like `A` or `]`) or a modifier flag (like `Ctrl` or `Cmd`).

AFAIK the underlying system API used by MASShortcut does not allow you to detect keycode-less shortcuts (like `Fn`). You may take a look at `SRShortcutRecorder` and specifically its SRAXGlobalShortcutMonitor. Note that this API requires Accessibility Permis

[2020-07-12 11:41] rampatra commented on #148
What if I say I am okay with using key having ansi key-code (like `A` or `]`)?

I have installed one app on my machine and one of its features works with long press `Fn` key and doesn't ask for accessibility permission. Not sure how are they doing it. Need to investigate more on this.

Can you pl tell me what more details you need? My use-case is that I want to toggle a feature of my app when a us

[2020-07-12 14:17] Kentzo commented on #148
If you only need to know when Fn is pressed and not prevent / alter how other apps see it, I think [`NSEvent. addGlobalMonitorForEvents`](https://developer.apple.com/documentation/appkit/nsevent/1535472-addglobalmonitorforevents) should be sufficient to get notified when modifier flags change and act accordingly.

1. Whether you need to toggle a keycode+modifier or modifier-only combination
2. Whe

[2020-07-13 10:30] shpakovski commented on #148
@Kentzo Thanks for help!

@rampatra Don’t forget about System Preferences which may intercept `fn`:

<img width="410" alt="fn" src="https://user-images.githubusercontent.com/163410/87294794-ecb84480-c50c-11ea-9ce7-ed2c7d56f8ce.png">

[2020-09-12 05:33] GetToSet opened #149 "Layout issue on macOS Big Sur"
It seems that macOS Big Sur [added some extra padding](https://developer.apple.com/documentation/macos-release-notes/appkit-release-notes-for-macos-11#NSButton) on NSButtons and buttons drawn directly from NSButtonCell has their title stretched out of its bezel, which results bad look of MASShortcutView on macOS Big Sur.

<img width="491" alt="NSButton" src="https://user-images.githubusercontent.c

[2020-09-17 06:23] shpakovski commented on #149
Hey @GetToSet Thanks a lot for the report! Not sure when I will have time to pick this up, so if anyone wants to fix this, you’re kindly welcome.

[2020-09-17 09:31] GetToSet commented on #149
This behavior seems more like a bug of macOS. New beta (or perhaps GM) builds may roll out soon. I'll try to fix this problem if it still presents in later builds of macOS.

[2020-12-27 23:46] ColtonIdle opened #151 "Can't set two arrow keys as part of a shotcut"
I want to have a shortcut that is ctrl + option + left + up for example but I can only choose a single arrow key. Is this purposeful?

[2020-12-28 01:02] Kentzo commented on #151
A macOS “shortcut” may have at most one non-modifier key.

You may modify the UI component to render that sequence, but will have to intercept such event manually.

Best Regards
Ilya Kulakov

[2020-12-28 10:12] shpakovski commented on #151
@Kentzo Thanks for the answer!

@ColtonIdle AppKit doesn’t support multiple non-modifier keys in a single event, so this would be a problem to implement this technically. Sorry for the inconvenience 🤷‍♂️

[2020-12-28 10:12] #151 closed

[2021-01-19 19:49] michaeljtsai opened #152 "Not visible to VoiceOver"
I think this used to work, but as of now (compiling with Xcode 12.3, running on macOS 10.15.7 and 11.2 beta), it’s not possible to select the `MASShortcutView` using VoiceOver, and I don’t hear the accessibility notifications when the shortcut is changed. I think I was able to fix this by overriding `-[MASShortcutView isAccessibilityElement]` to return `YES`. The [documentation](https://developer.

[2021-01-20 11:55] shpakovski commented on #152
@michaeljtsai Thanks a lot for the heads up! Could you please make a pull request? 🙏

[2021-01-20 16:00] michaeljtsai commented on #152
I was hoping someone who knows more about this would have insight into why it worked before without this and therefore whether this is in fact the right fix. But, yes, I can make a PR:

https://github.com/shpakovski/MASShortcut/pull/153

[2021-01-20 20:08] Kentzo commented on #152
@michaeljtsai Probably Apple used to have additional checks that were not documented (e.g. by explicitly looking for other accessibility methods in the interface).

[2021-01-21 19:16] michaeljtsai commented on #152
That works, too.

[2021-02-18 18:32] JasonAnytune opened #154 "Multiple Warnings for Deprecations"
Code has warnings with deprecations as follows:

[code]

[2021-02-18 19:11] shpakovski commented on #154
Hi @JasonAnytune, thanks for the report! Would you like to make a pull request?

[2021-02-18 20:14] JasonAnytune commented on #154
Yes, let me know what's involved

[2021-02-19 00:26] nevack commented on #154
I see some other issues.
![image](https://user-images.githubusercontent.com/8330119/108439372-349d0800-7262-11eb-9dc2-ce5db818a4af.png)

[2021-03-02 22:15] JasonAnytune commented on #154
Will the change in "Apply Xcode recommended settings" clear these warnings? If so, the version number needs to be updated since I am installing with cocoa-pods and there is no change noticed.

[2021-03-05 07:29] shpakovski commented on #154
@JasonAnytune Indeed, thanks for the report!

[2021-03-05 07:35] #154 closed

[2021-03-05 14:03] JasonAnytune commented on #154
Thanks for the fix and valuable software!

[2021-03-05 23:01] mcint opened #157 "Toggling shortcut handling? e.g. an off-mode"
I'm looking to add functionality to rxhanson/Rectangle, which relies on MASShortcut and listens globally (vs just while focused), to toggle shortcut handling on and off. I would like to have a shortcut, which enables and disables handling of shortcuts by the client app, allowing me to use the same shortcuts in other apps.

Is this kind of functionality currently possible? Is it supported for group

[2021-03-07 12:31] shpakovski commented on #157
Hi @mcint 👋 There is no such property as `isEnabled`, although it’s a great idea. You have to register and unregister manually, if I get your question correctly. Sorry for the slow reply!

[2021-03-18 14:28] guojiubo opened #158 "NSKeyedUnarchiveFromData deprecated warning"
Looks like NSKeyedUnarchiveFromData is deprecated by Apple and I'm hitting this warning(console log):

[code]

Nice library btw, thanks for your awesome work.

[2021-03-19 08:56] shpakovski commented on #158
@guojiubo Thanks for the heads up! Could you please make a pull request?

[2021-05-13 20:31] chockenberry commented on #158
I ran into the same problem and determined that `MASDictionaryTransformer` was the way to go.

If you fix the deprecation warning and use `NSSecureUnarchiveFromDataTransformerName`, it will leave you in a situation where your customer has data in the old format and the secure unarchive will fail (and throw an exception in the process).

It would be possible to do a one-time conversion from insecur

[2021-05-13 20:38] chockenberry commented on #158
Also forgot to mention that secure coding only allows for NSArray,  NSDictionary, NSSet, NSString, NSNumber, NSDate, NSData, NSURL, NSUUID, and NSNull as top-level objects. So you'll be converting`MASShortcut` to something else during the transform - easier just to use the dictionary.

[2021-05-16 12:37] shpakovski commented on #158
Thanks Craig!

[2021-06-05 07:42] sweetppro commented on #149
I have this mostly fixed, with the exception of rounded button. Once I figure out how to make this one play nicely I’ll add the fix to my SPM pull request.

[2021-06-05 13:14] sweetppro commented on #149
fixed in this pull request:
https://github.com/shpakovski/MASShortcut/pull/159

[2021-06-06 01:24] #149 closed

[2021-06-11 08:32] AndrewVebster opened #161 "Cannot record shortcut with format ⌥+⇧+<Letter>"
Hey 👋
I have an issue with recording this shortcut in my app and few other apps that use this control.

**Steps:**
1. Activate control to record shortcut
2. Press `⌥⇧T`
3. When pressing `T` it's not saved and you can hear "error" beep sound.

Is there a way to allow such shortcuts?

And thanks for this awesome framework 🙌

[2021-06-27 09:14] shpakovski commented on #161
`Option-Shift-T` is a standard character typing combination. This feature is not supported by `MASShortcut`, sorry.

[2021-06-29 13:08] raviparsania opened #163 "How to binding custom shortcut on MASShortcutView ?"
Hello

In my application have import/export feature. So while export I have to make dictionary with include key, modifier and DefaultsKey (Identifier for every item).

While import the data that time I have register all the shortcut using following method and it work fine
[code]

But not showing registered shortcut on MASShortcutView. Is there any method to bind shortcut on MASShortcutView ?

[2021-07-05 18:37] sfsam opened #164 "Getting 'Error: missing module map file' when trying to build"
Getting an error when trying to build with either Xcode or the Makefile.

**Makefile output:**
`error: missing module map file: '/Users/xxxx/Dev/macOS/MASShortcut/Framework/MASShortcut.modulemap (in target 'MASShortcut' from project 'MASShortcut')`

**Xcode output:**
![CleanShot 2021-07-05 at 11 33 48@2x](https://user-images.githubusercontent.com/118104/124508612-28cf5f80-dd85-11eb-8264-83e507c8a9

[2021-08-12 11:40] ConfusedVorlon opened #165 "Request: Could you push a release now that you have SMP support"
SPM errors out at the moment because there is not Package.swift for version 2.4.0

(I know I can use master or a specific commit to work around this - but versions are neater)

[2021-08-12 11:40] ConfusedVorlon commented on #165
ps: thanks for a tremendously useful package :)

[2021-08-15 07:17] shpakovski commented on #165
@ConfusedVorlon Could you please live with a `master` branch for now? Sorry for the inconvenience.

[2021-08-15 11:16] ConfusedVorlon commented on #165
I certainly can. Is there a reason not to just tag 2.4.1 though? It seems like the work of a moment...

[2021-08-30 09:23] eternalstorms commented on #164
👍🏻

[2021-09-20 05:55] pointum commented on #164
There are several thing wrong with .xcodeproj now and I could not fix it either.

- .modulemap and MASShortcutViewButtonCell are missing from the project

- project won’t compile because it can no longer find some headers

 - [MASLocalization.m](https://github.com/shpakovski/MASShortcut/blob/master/Framework/UI/MASLocalization.m) should use conditional complication:

         #if SWIFT_PACKAGE

[2021-09-20 07:15] sweetppro commented on #164
@pointum this should (hopefully) be fixed in this pull request:
https://github.com/shpakovski/MASShortcut/pull/162

[2021-09-20 16:13] pointum commented on #164
@sweetppro some files and headers still got unresolved. I’ve created a new PR #166.
Thank you for implementing SwiftPM. I’m going to use it but wanted to fix the project first anyway.

[2021-09-20 16:16] sweetppro commented on #164
@pointum nice one!
I don't use Cocoa Pods or Carthage so were't see any of the build errors.
Ill close my PR

[2021-09-20 17:20] pointum commented on #164
@sweetppro I don’t use those either. Just a direct .xcodeproj dependency. It did not build even when I open standalone `MASShortcut.xcodeproj` and try to build `MASShortcut` framework or `Demo` app targets.

[2021-09-20 17:37] sweetppro commented on #164
@pointum ah weird, It compiles fine for me when added directly to a project via SPM.
well, for what its worth. I hope everything is fine for all situations now
:)

[2021-11-22 13:32] paganel opened #170 "Crash -[MASShortcutView propagateValue:forBinding:]"

[2022-02-10 12:52] eternalstorms opened #172 "Double-quoted include "MASxyz.h" in framework header, expected angle-bracketed instead"
Problem is in Shortcut.h, where instead of #import <MASShortcut/xyz.h>, it's just #import "MASxyz.h", resulting in the warning

Double-quoted include "MASxyz.h" in framework header, expected angle-bracketed instead

[2022-02-14 04:33] shpakovski commented on #172
Hi Matthias, thanks for the problem report. I believe there were some other issues with angle brackets in previous versions of Xcode. Could you please submit a Pull Request if you have a working solution for Xcode 13? Sorry for the slow response!

[2022-03-09 07:33] mkrueger opened #173 "TIS API is deprecated"
Hi

I've tried to solve the keyboard shortcut problem and came accross the MASShortcut project. Really nice work. I tried a similiar approach using the deprecated TIS API.

However there is a reason apple dumped it: It doesn't work for all cases.
For example that API doesn't map the cut/copy/command cmd+c,v,x correctly.

There is an easy to use API in NSEvent:

https://developer.apple.com/document

[2022-03-09 15:22] rampatra commented on #158
Was there a PR for this? I have started to get the same warnings too.

_I am a novice Objective-C/Swift coder so I may not be the best person to create a PR for this._

[2022-04-10 20:46] mcint commented on #157
Thanks @shpakovski 👋 . If I were interested in implementing this feature, I
Mmm, I need to sketch out for myself how MAS instances in applications fit into the system.

It looks like #115 is a good foundation for what I'm looking for here. Ah, you are merging PRs. Any limitations or concerns about #115 ?

[2022-04-11 03:19] shpakovski commented on #157
The #115 has got conflicts with the main branch, but this looks like what you are looking for.

[2022-05-05 23:55] timbertson opened #175 "EXC_BAD_ACCESS on Monterey when using swift String for defaultsKey"
After upgrading to MacOS monterey, I consistently saw the following crash in [slinger](https://github.com/timbertson/Slinger.app), a window management app I maintain.

lldb shows the stacktrace as follows:

[code]

I figured the obvious suspects were bad serialization, a sneaky `nil` somewhere, or threading. But I couldn't find any of those.

Eventually I took the stacktrace at its word - the fact

[2022-07-13 10:14] youknowone commented on #165
I also wish MASShortcut publish a new tag, not to keep dependency to specific commit id.

[2022-07-26 02:03] phu54321 opened #178 "README.md: "A nice, documented API" links to deprecated cocoadocs.org"
Hello, I'm researching shortcut library for macOS application, and I wanna see the docs, however the docs link is invalid. It links to cocoadocs.org which [seems to have been deprecated long time ago](https://github.com/CocoaPods/cocoadocs.org). I think this link needs to be fixed?

Thanks.

https://user-images.githubusercontent.com/775265/180906360-d96a143f-d32e-493c-bc86-831841e69f10.mov

[2022-07-28 16:13] shpakovski commented on #165
@youknowone Thanks for your feedback. Once the branch becomes stable, I will likely tag it. Sorry for inconvenience.

[2022-07-28 16:15] shpakovski commented on #178
@phu54321 Could you please make a Pull Request? Sorry for inconvenience.

[2022-07-30 11:59] phu54321 commented on #178
Sorry IDK where the proper documentation is.